.feature {

    &__btn {
        z-index: 0;
    }

    &__heading {

        @include respond(tab) {
            background-color: var(--color-light-bright-red);
            background-color: #fce2db;
            padding: 0.4rem;
            padding-left: 4rem;
            margin-left: -4rem;
            z-index: 0;
        }
    }

    &__p {
        grid-column-start: 2;
        grid-row-start: 2;
        margin-top: -5rem;

        @include respond(tab) {
            font-size: 140%;
            padding: 0 2rem;
            margin: 0 auto 4rem auto;
            grid-column: 1 / span 2;
        }
    }
}